body{
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}


/*header code */
.header {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


.container {
    display: flex;
    background-color: rgb(31, 41, 55);
    justify-content: space-around;
}

.main {
    display: flex;
    flex-direction: column;
}

.big {
    font-size: 48px;
    font-weight: 900;
}

.normal {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.random {
    display: flex;
}

.header,
.footer{
    background-color: rgb(31, 41, 55);
}

.secondary {
    font-size: 18px;
}

button {
    color: #f9faf8;
    background-color: #3882F6;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    width: 150px;
    border-style: none;
}

.image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.stonks {
    width: 500px;
    height: 500px;
}



/* main content code */
.main-content {
    margin-top: 16px;
}


.content {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.row {
    display: flex;
    padding: 36px;
}

.logos {
    width: 100%;
    height: 100%;
    min-height: 300px;
    object-fit: cover;
    padding: 16px 16px;
    border: 8px;
}

.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap 16px;
}

.ticker {
    display: flex;
    color: #E5E7EB;
}

.ticker {
    color: #1F2937;
}

.sub-content {
    background-color: #E5E7EB;
    padding: 48px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.author {
    font-size: 18px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
}

.sign-up{
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    margin: 64px;
    font-size: 24px;
    align-items: center;
    border-radius: 8px;
    
}

.shadow {
    border-style: solid;
    border-color: rgb(255, 255, 255);
}



/* footer code */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}